<?xml version="1.0" encoding="UTF-8" ?>
<plugin>
    <author>Ignite Realtime</author>
    <class>org.ifsoft.turn.openfire.PionTurn</class>
    <name>${project.name}</name>
    <description>${project.description}</description>
    <version>${project.version}</version>
    <licenseType>Apache 2.0</licenseType>
    <date>2025-06-26</date>
    <minServerVersion>4.0.0</minServerVersion>
    <minJavaVersion>1.8</minJavaVersion>

   <adminconsole>
        <tab id="sidebar-media-services">
            <item id="pionturn-settings" name="${config.page.settings}" 
                  description="${config.page.settings.description}" 
                  url="pionturn.jsp"/>
        </tab>      
    </adminconsole> 
</plugin>
